<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="css/area.css">
<link rel="icon" type="image/x-icon" href="icons/favicon.ico">

<body>
    <section id="section">
        <div class="info">
            <h1 class="intro">Hello, <%= info["linker"] %>!</h1>
            <% if (messages.success) { %>
            <div class="alert alert-success"><%= messages.success %></div>
            <% } %>
        </div>

        <form action="/inbox" class="form" method="POST">
            <% if (info["_id"] === 0) { %>
            <p class="base-text" style="margin-bottom: 30px;"> PAGE WAS ACCESSED WITHOUT LOGGING IN </p>
            <% } else { %>

            <textarea class="user-inputbox" type="text" name="textinput" id="input"
                placeholder="Save your text here!"><%= info["text"] %></textarea>

            <div class="dabaune" id="dabam">
                <select name="removal" id="timer" class="dropdown">
                    <option value="m-five" <%= (timerID == "m-five") ? "selected":"" %>>5 Minutes</option>
                    <option value="h-five" <%= (timerID == "h-five") ? "selected":"" %>>5 Hours</option>
                    <option value="d-one" <%= (timerID == "d-one") ? "selected":"" %>>1 Day</option>
                    <option value="d-five" <%= (timerID == "d-five") ? "selected":"" %>>5 Days</option>
                    <option value="d-ten" <%= (timerID == "d-ten") ? "selected":"" %>>10 Days</option>
                    <option value="no-opt" <%= (timerID == "no-opt") ? "selected":"" %>>Don't Remove</option>
                </select>
                <button class="submit-button" type="submit" id="save">Save</button>
            </div>
            <% } %>

            <div class="laijani">
                <% if (has_link) { %>
                <a href="<%- link %>" target="_blank" class="anchor link">Take me to link</a>
                <% } %>

                <a href="/" class="anchor">Back home</a>
                <% if (messages.success) { %>
                <div class="phone-alert alert-success"><%= messages.success %></div>
                <% } %>
            </div>
        </form>
    </section>

    <script>
        const tx = document.getElementsByTagName("textarea");
        const anchor_area = document.querySelector('.laijani');
        const alert_area = document.querySelector('.phone-alert');

        const select_attr = document.getElementById("timer");
        const save_attr = document.getElementById("save");

        const link = "<%= has_link %>";
        const linker_name = "<%= info.linker %>";

        if (linker_name === "Prabesh")
        {
            select_attr.setAttribute("disabled", "");
            save_attr.setAttribute("disabled", "");
            save_attr.style.setProperty("color", "grey");
        }
        else
        {
            select_attr.removeAttribute("disabled");
            save_attr.removeAttribute("disabled");
        }

        if (link === "false")
        {
            anchor_area.style.setProperty("grid-template-columns", "none");
            alert_area.style.removeAttribute("grid-column");
        }
        else
        {
            anchor_area.style.setProperty("grid-template-columns", "1fr 1fr");
            alert_area.style.setProperty("grid-column", "span 2");
        }

        for (let i = 0; i < tx.length; i++)
        {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput()
        {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>